*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

label {
    width: 100%;
    cursor: pointer;
}

/* Header */

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 0 15px;
    }
}

.header {
    background: url("../img/bg-img.jpg") center center/cover no-repeat #000000;
    position: relative;
    z-index: 0;
    padding: 28px 0 145px 0;
    margin-bottom: 55px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url("../img/tablet-bg-img.jpg");
        margin-bottom: 45px;
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url("../img/mobile-bg-img.jpg");
    }
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: #000000;
    z-index: -1;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 180px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header__logo {
        width: 160px;
    }
}

@media (max-width: 640px) {
    .header__logo {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 235px;
    }
}

.header__nav {
    display: flex;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header__nav {
        display: none;
    }
}

@media (max-width: 640px) {
    .header__nav {
        display: none;
    }
}

.header__nav :not(:first-of-type) {
    margin-left: 30px;
}

.header__menu-burger {
    display: none;
    align-items: center;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header__menu-burger {
        display: flex;
    }
}

@media (max-width: 640px) {
    .header__menu-burger {
        display: block;
        margin-top: -140px;
    }
}

.header__menu-btn {
    display: flex;
    position: relative;
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.header__menu-btn::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
}

.header__menu-btn::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    margin-top: 8px;
}

.nav__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    text-decoration: underline transparent;
}

.nav__link:hover {
    text-decoration: underline;
}

.header__title {
    max-width: 700px;
    margin: 126px auto 0 auto;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.6;
    color: #ffffff;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header__title {
        max-width: 605px;
        font-size: 40px;
    }
}

@media (max-width: 640px) {
    .header__title {
        margin: 45px auto 0 auto;
        min-width: 280px;
        font-size: 26px;
    }
}

/* Trend */

.title__themes {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .title__themes {
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .title__themes {
        font-size: 16px;
    }
}

.title__themes::after {
    content: "";
    display: block;
    margin: 8px auto 25px auto;
    width: 65px;
    height: 3px;
    background: #e1d9bd;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .title__themes::after {
        margin-bottom: 18px;
    }
}

.trend__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trend__wrapper {
    padding: 25px;
    position: relative;
    width: 24.8%;
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    z-index: 1;
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trend__wrapper {
        width: 49.7%;
        margin-bottom: 0.6%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trend__wrapper {
        width: 24.7%;
    }
}

@media (max-width: 640px) {
    .trend__wrapper {
        width: 100%;
        margin-bottom: 1%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trend__wrapper {
        width: 49.7%;
        margin-bottom: 0.6%;
    }
}

.trend__wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: #000000;
}

.trend__post-img1 {
    background: url("../img/trend-img-1.jpg") center/cover no-repeat #000000;
}

.trend__post-img2 {
    background: url("../img/trend-img-2.jpg") center/cover no-repeat #000000;
}

.trend__post-img3 {
    background: url("../img/trend-img-3.jpg") center/cover no-repeat #000000;
}

.trend__post-img4 {
    background: url("../img/trend-img-4.jpg") center/cover no-repeat #000000;
}

.trend__border {
    width: 100%;
    position: relative;
    outline: 3px solid rgba(181, 159, 91, 0.6);
    padding: 25px 25px 25px;
    z-index: 2;
}

.trend__post-tags {
    display: flex;
    margin-bottom: 5px;
}

.trend__post-tags :not(:first-of-type) {
    margin-left: 17px;
}

.trend__post-link {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b59f5b;
    transition: 0.5s ease-in-out;
    text-decoration: underline transparent;
    z-index: 3;
}

.trend__post-link:hover {
    text-decoration: underline;
}

.trend__post-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.trend__title-link {
    color: #ffffff;
    transition: 0.4s ease-in-out;
    z-index: 4;
}

.trend__title-link:hover {
    color: #b59f5b;
}

/*  Main */

.main__wrapper {
    margin: 60px auto;
    padding: 0 15px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .main__wrapper {
        padding: 0 30px;
    }
}

@media (max-width: 640px) {
    .main__wrapper {
        padding: 0 15px;
        flex-direction: column;
    }
}

.main__posts {
    max-width: 780px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .main__posts {
        margin-right: 20px;
    }
}

.main__post {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .main__post {
        flex-direction: column;
    }
    .main__post:not(:last-child)::before {
        position: absolute;
        content: "";
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #eeeeee;
    }
}

@media (max-width: 640px) {
    .main__post::before {
        position: absolute;
        content: "";
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #eeeeee;
    }
}

@media (max-width: 640px) {
    .main__post {
        flex-direction: column;
    }
}

.main__post:not(:first-child) {
    margin-top: 60px;
}

.main__post-tags {
    display: flex;
    margin-top: -7px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .main__post-tags {
        margin-top: 5px;
    }
}
@media (max-width: 640px) {
    .main__post-tags {
        margin-top: 5px;
    }
}

.main__post-img {
    width: 100%;
    margin-right: 30px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .main__post-img {
        margin-right: 0px;
    }
}

@media (max-width: 640px) {
    .main__post-img {
        margin-right: 0;
    }
}

.main__post-list:not(:last-child) {
    margin-right: 20px;
}

.main__item-link {
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.4s ease-in-out;
    text-decoration: underline transparent;
}

.main__item-link:hover {
    text-decoration: underline;
}

.main__post-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
    margin: 5px 0 20px 0;
}
@media (max-width: 640px) {
    .main__post-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.main__title-link {
    transition: 0.4s ease-in-out;
    text-transform: uppercase;
    color: #0f0d0e;
}

.main__title-link:hover {
    color: #b59f5b;
font-size: 20px;

}

.main__post-info {
    margin-bottom: 40px;
}

@media (max-width: 640px) {
    .main__post-info {
        margin-bottom: 10px;
    }
}

.main__post-date {
    color: #989898;
    font-size: 12px;
    margin-right: 15px;
}

.main__post-autor {
    font-size: 12px;
    font-weight: 700;
}

.main__post-text {
    position: relative;
    line-height: 1.4;
    font-size: 15px;
}

.main__post-text:first-child {
    margin-bottom: 15px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .main__wrapper-text {
        margin-bottom: 20px;
    }
}

@media (max-width: 640px) {
    .main__wrapper-text {
        margin-bottom: 20px;
    }
}

/*Aside*/

.aside__posts {
    max-width: 270px;
    margin-top: -5px;
    margin-left: 30px;
}

@media (max-width: 640px) {
    .aside__posts {
        min-width: 100%;
        margin-left: 0;
    }
}

.aside__title {
    margin: 0 auto 25px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.aside__title::after {
    content: "";
    display: block;
    margin: 10px auto 0 auto;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}

.aside__block {
    max-height: 70px;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}

.aside__group-post {
    margin-top: -6px;
}

.aside__post-img {
    max-width: 70px;
    margin-right: 20px;
}

.aside__post:not(:first-child) {
    margin-top: 50px;
}

@media (max-width: 640px) {
    .aside__post {
        margin-top: 35px;
    }
}

.aside__date {
    position: relative;
    color: #989898;
    font-size: 12px;
    margin-top: -3px;
}

.aside__title-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    transition: 0.4s ease-in-out;
}

.aside__title-link:hover {
    color: #b59f5b;
}

.aside__group-search {
    margin-top: 60px;
    display: flex;
}

.aside__hidden-form {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.aside__search {
    font-size: 13px;
    color: #989898;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    padding: 0 18px;
}

@media (max-width: 640px) {
    .aside__group-search {
        display: flex;
        justify-content: center;
    }
}

.aside__search:hover {
    border: 1px solid #b59f5b;
    border-right: 0px;
    padding: 17px;
}

.aside__button-search {
    border: none;
    width: 48px;
    height: 48px;
    padding-right: 48px;
    background: url("../icons/search.svg") center/16px no-repeat #b59f5b;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.aside__button-search:hover {
    background-color: #323232;
}

.aside__search-email {
    font-size: 13px;
    color: #989898;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    padding: 0 18px;
}

.aside__search-email:hover {
    border: 1px solid #b59f5b;
    padding: 17px;
}

.aside__button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 17px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.aside__button-subscribe:hover {
    background-color: #323232;
}

.aside__all-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.aside__tag {
    display: inline-block;
    border: 3px solid #eeeeee;
    margin: 0 5px 6px 0;
    padding: 4px 9px;
    transition: 0.3s ease-in-out;
}

.aside__tag:hover {
    border: 3px solid #b59f5b;
}

.aside__link-tag {
    display: inherit;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.aside__themes-item {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    margin: 13px 0;
    padding-bottom: 13px;
}

.aside__themes-link {
    position: relative;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.aside__themes-link:hover {
    color: #b59f5b;
    font-size: 20px;
    transform: rotateX(-360deg);
}

.aside__themes-number {
    color: #b59f5b;
    font-size: 12px;
    font-weight: 700;
    margin: -3px 0 0 3px;
}

/* Products */

.products {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .products {
        flex-wrap: wrap;
    }
}

@media (max-width: 640px) {
    .products {
        flex-direction: column;
        align-items: center;
    }
}

.product__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.product__price {
    display: flex;
    flex-direction: column;
}

.shop__imgs {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 0 25px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .shop__imgs {
        width: 40%;
        margin-bottom: 50px;
    }
}

@media (max-width: 640px) {
    .shop__imgs {
        width: 90%;
        margin-bottom: 50px;
    }
}

.product__post-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    padding-top: 25px;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .product__post-title {
        font-size: 17px;
    }
}

.product__text {
    margin-top: 3px;
    max-width: 300px;
    font-size: 15px;
    font-weight: 400;
    color: #0f0d0e;
    transition: 0.5s ease-in-out;
    text-decoration: underline rgba(0, 0, 0, 0);
}

.product__text:hover {
    color: #000000;
}

.product__link-info {
    color: #b59f5b;
    transition: 0.5s ease-in-out;
    text-decoration: underline rgba(0, 0, 0, 0);
}

.product__link-info:hover {
    text-decoration: underline;
}

.product__discounted-price {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-decoration: line-through;
    color: #0f0d0e;
}

.product__shop-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #0f0d0e;
}

.product__link-shop {
    width: 140px;
    height: 45px;
    background-color: #b59f5b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.product__link-shop:hover {
    background-color: #323232;
}

.product__outline {
    flex-grow: 1;
    /* max-width: 100%; */
    outline: 3px solid rgba(181, 159, 91, 0.6);
    outline-offset: 21px;
    margin-top: -7px;
    min-height: 207px;
}

/* Footer */

.footer__wrapper {
    margin: 90px auto 0px auto;
    padding: 0 15px;
    max-width: 1200px;
    background-color: #f4f7f6;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .footer__wrapper {
        margin-top: 40px;
    }
}

.footer__social-icons {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.footer__social-icon:not(:last-of-type) {
    margin-right: 20px;
}

.footer__social-link {
    display: flex;
    width: 25px;
    height: 25px;
    background: center / 25px no-repeat;
}

.footer__hidden-icon {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.link-twitter {
    background-image: url("../icons/twitter.svg");

}

.link-pinteres {
    background-image: url("../icons/pinterest.svg");
}

.link-facebook {
    background-image: url("../icons/facebook.svg");
}

.link-instagram {
    background-image: url("../icons/instagram.svg");
}

.link-tumbl {
    background-image: url("../icons/tumblr.svg");
}

.copyright {
    padding: 0 15px;
    max-width: 1200px;
    text-align: center;
    margin: 70px auto 40px auto;
}

.copyright-content {
    font-size: 12px;
    font-weight: 700;
    color: #999999;
}

/* Popup */

.popup__container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.popup-hidden {
    display: none;
}

.popup-hidden:target {
    display: flex;
    pointer-events: auto;
}

.popup {
    position: relative;
    width: 390px;
    min-height: 590px;
    background-color: #fff;
    padding: 55px 30px;
    z-index: 10;
}

.popup__close {
    position: absolute;
    top: -45px;
    right: 5px;
    border: none;
    cursor: pointer;
    color: wheat;
    font-size: 35px;
    transition: 0.4s ease-in-out;
}

.popup__close:hover {
    top: -55px;
    right: -3px;
    font-size: 50px;
    color: rgb(153, 118, 52);
    transform: rotateX(-360deg);
}

.popup__close:target {
    display: none;
    pointer-events: auto;
}

.popup__close-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.popup-title {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.popup-title::after {
    content: "";
    display: block;
    margin: 10px auto 0 auto;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}

.popup__text {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    margin: 28px 0 10px 0;
}

.popup__question {
    position: relative;
    font-size: 13px;
    color: #989898;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    padding: 14px 18px 0 18px;
}

.popup__question::before {
    position: absolute;
    content: "";
    right: 0;
    margin: 2px 15px 0 0;
    width: 10px;
    height: 16px;
    background: url("../icons/arrows.svg") center/cover no-repeat;
    cursor: pointer;
}

.real-radio {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.custom-radio {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: url("../icons/inactive_circle.svg") center/cover no-repeat;
}

.custom-radio::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../icons/active_circle.svg") center/cover no-repeat;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

.real-radio:checked + .custom-radio::before {
    opacity: 1;
}

.popup__radio-btn-text {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
}

.popup__textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: #f4f7f6;
    width: 100%;
    height: 135px;
    margin-bottom: 25px;
    padding: 5px;
}

.popup__textarea::placeholder {
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
}

.popup__textarea:hover,
.popup__textarea:focus {
    outline: 1px solid #b59f5b;
}

.popup__button {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b59f5b;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.popup__button:hover {
    background-color: #323232;
    transform: rotateX(-360deg);
}
